<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="publishstatusmanager:cancel" type="Sitecore.SharedSource.Publishing.Commands.PublishCancel,Sitecore.SharedSource.AdvancedPublishDialog"/>
    </commands>
    <pipelines>
      <publish>
        <processor type="Sitecore.Publishing.Pipelines.Publish.ProcessQueue, Sitecore.Kernel">
          <patch:attribute name="type">Sitecore.SharedSource.Publishing.Pipelines.Publish.ProcessQueue, Sitecore.SharedSource.AdvancedPublishDialog</patch:attribute>
        </processor>
        <processor type="Sitecore.SharedSource.Publishing.Pipelines.Publish.ProcessPublishCancel, Sitecore.SharedSource.AdvancedPublishDialog" />
      </publish>
      <publishItem>
        <processor type="Sitecore.Publishing.Pipelines.PublishItem.UpdateStatistics, Sitecore.Kernel">
          <patch:attribute name="type">Sitecore.SharedSource.Publishing.Pipelines.PublishItem.UpdateStatistics</patch:attribute>
          <traceToLog>false</traceToLog>
        </processor>
      </publishItem>
    </pipelines>
    <settings>
      <!--  Max number of concurrent threads for publishing process
      	    If this setting is not set Environment.ProcessorCount variable will be used.
      -->
      <setting name="Publishing.MaxConcurrentThreads" value="2"/>
    </settings>
  </sitecore>
</configuration>
